@model Feedback360_Frontend.Models.GetTeamLeaderDetailsVm


@{
    ViewData["Title"] = "MyTeamHomePage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/TLProfile.css" />
    <link rel="stylesheet" href="~/css/TableDesign.css" />
</head>

<div class="card">
    <div class="card-body">
        <a class="btn btn-info" asp-action="DepartmentTeamHomePage" class="float-left" role="button">Back</a>
        <h4 class="card-title float-right">FY @ViewBag.financialYear.StartYear - @ViewBag.financialYear.EndYear</h4>
        <h4 class="card-title" style="text-align:center;">My Team</h4>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card" id="profile_card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXhfZPfG3b-h_S7coslkT90agyT2MEVHlb9g&usqp=CAU" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                @if (Model.EmployeeId != null)
                                {
                                    <h4 class="card-title">Team Leader</h4>
                                    <p>EmpId : @Model.EmployeeId</p>
                                    <p class="card-text">Name : @Model.FirstName @Model.LastName</p>
                                    <p>Joining Date : @Model.TeamJoiningDate.ToShortDateString()</p>

                                }
                                else
                                {
                                    <h5>Team yet to be form.....!</h5>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        @if (ViewBag.TeamLeadId != null)
        {
            <button class="btn btn-danger float-right" onclick="dropGroup(this,@Model.Id)">Drop Group</button>
            <br />
        }
        <br />
        <div id="MyTeamMembersList"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/DepartmentTeam.js"></script>
    
}


